{{>header}}
<h2>Detalle del curso</h2>
<h4>Nombre: {{nombre}}</h4>
<h4>Descripcion: {{descripcion}}</h4>
<h4>Valor: {{valor}}</h4>
<h4>Intensidad: {{intensidad}} Horas</h4>
<h4>Modalidad: {{modalidad}}</h4>
{{#ifCond coord}}
<h2>Estudiantes matriculados</h2>
<p>{{{obtenerInscritos id}}}</p>
<h5 class="message">{{mensaje}}</h5> 
<form action='/cerrar-curso' method='GET'>
    <input type="hidden" name="id" value="{{id}}" />
    <button class="btn btn-danger col-3">Cerrar Curso</button>
</form>
{{else}}
<form action='/registro' method='GET'>
    <input type="hidden" name="id" value="{{id}}" />
    <button class="btn btn-success">Matricularme</button>
</form>
{{/ifCond}}

{{>footer}}