{{>header}}
<table class="table col-4">
<thead><th colspan="2"><center>Detalle del curso</center></th></thead>
<tbody>
<tr><td><center>Nombre:</center></td><td><center>{{nombre}}</center></td></tr>
<tr><td><center>Descripcion:</center></td><td><center>{{descripcion}}</center></td></tr>
<tr><td><center>Valor:</center></td><td><center>{{valor}}</center></td></tr>
<tr><td><center>Intensidad:</center></td><td><center>{{intensidad}} Horas</center></td></tr>
<tr><td><center>Modalidad:</center></td><td><center>{{modalidad}}</center></td></tr>
</tbody>
</table>
{{#ifCond coord}}
<h2>Estudiantes matriculados</h2>
<p>{{{obtenerInscritos id}}}</p>
<h5 class="message">{{mensaje}}</h5> 
<form action='/cerrar-curso' method='GET'>
    <input type="hidden" name="id" value="{{id}}" />
    <button class="btn btn-danger col-3">Cerrar Curso</button>
</form>
{{else}}
<form action='/registro' method='GET'>
    <input type="hidden" name="id" value="{{id}}" />
    <button class="btn btn-success col-3">Matricularme</button>
</form>
{{/ifCond}}

{{>footer}}